<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<th:block th:replace="layouts/config :: config"/>
<body class="bg-light">
<th:block th:replace="layouts/header :: header"></th:block>



    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-3" th:each="list : ${cardList}">

                    <a th:href="@{/productDetail(id=${list.getId()})}">
                    <div class="card mb-4 shadow-sm" >
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                            <img th:src="${list.getPicPath()}" alt="Twinkle Love">
                        </text></svg>

                        <div class="card-body">
                            <p class="card-text fw-bold" th:text="${list.getProductName()}"></p>
                            <p class="card-text" th:if="${list.getDiscount == 0}" th:text="${list.getPrice()+'원'}"></p>
                            <p class="card-text fw-bold"
                               th:if="${list.getDiscount() > 0}" th:text="${list.getPrice() + '원 -> ' + T(java.lang.Math).round(((100 - list.getDiscount()) / 100.0) * list.getPrice()) + '원'}"></p>
                            <p class="card-text fw-bold" th:if="${list.getDiscount > 0}" th:text="${list.getDiscount + '% 할인'}" style="color:red;"></p>

                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                    </a>

                </div>
            </div>
        </div>
    </div>


<th:block th:replace="layouts/footer :: footer"/>
</body>
</html>