<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<th:block th:replace="layouts/config::config"/>

<body class="bg-light">
<th:block th:replace="layouts/header :: header"/>
<div class="container">
    <!--상품 정보-->
    <div class="position-relative overflow-hidden p-3 p-md-1 m-md-1 text-center bg-light">
            <h1 class="display-4 font-weight-normal" th:text="${product.get().getProductName()}"></h1>
            <img th:src="${product.get().getPicPath()}" th:alt="${product.get().getPicName()}" class="fixed-height">
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <!--가격표-->

        <div class="card mb-4 shadow-sm" >
            <form th:action="@{/prodDelete/{id}(id=${product.get().getId()})}" method="post">
            <div class="card-body">
                <h1 class="card-title pricing-card-title" th:text="${#numbers.formatInteger(product.get().getPrice(),3,'COMMA')+'원 - > '
                + #numbers.formatInteger(T(java.lang.Math).round((((100-product.get().getDiscount)/100.0)*product.get().getPrice())),3,'COMMA')+'원'}"></h1>

                <ul class="list-unstyled mt-3 mb-4">
                    <li>모바일 청첩장 제공</li>
                    <li>공유하기 기능 제공</li>
                    <li th:text="|${'종이 청첩장 '+product.get().getQuantity()+'장 제공'}|"></li>
                </ul>

                <button type="button" class="btn-purchase btn btn-lg btn-block btn-outline-primary btn-purchase">구매 하기</button>

                <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="location.href='main'">메인 페이지</button>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/productUpdate/{id}(id=${product.get().getId()})}" class="btn btn-lg btn-block btn-outline-primary float-end mx-1">상품 수정</a>
                <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit" class="btn btn-lg btn-block btn-outline-primary float-end">상품 삭제</button>
                <p th:text="${member.getMemberName()}"></p>
            </div>
            </form>
        </div>

</div>

<script th:inline="javascript">
    // 상품 가격 계산
    const finalPrice = /*[[${((100-product.get().getDiscount())/100.0) * product.get().getPrice()}]]*/ 0;
    const username = /* [[${member.getUsername()}]] */ 0;
    const memberName = /* [[${member.getMemberName()}]] */ 0;
    // 아임포트 초기화
    IMP.init("imp63736637");

    function requestPayment() {
        IMP.request_pay({
            pg: "danal_tpay.9810030929",
            pay_method: "card",
            merchant_uid: `payment-${crypto.randomUUID()}`, // 주문 고유 번호
            name: /*[[${product.get().getProductName()}]]*/, // 상품 이름
            amount: finalPrice, // 상품 가격
            buyer_name: memberName
        }, function (response) {
            if (response.success) {
                        console.log('imp_uid : '+response.imp_uid);
                        console.log('merchant_uid : '+response.merchant_uid);
                        console.log('amount : '+response.amount);
                        console.log('status : '+ response.status);
                        console.log(response);
                fetch('/payment/complete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        impUid: response.imp_uid,
                        merchantUid: response.merchant_uid,
                        amount: response.paid_amount,
                        paymentStatus: response.status,
                        memberId: username,
                        productName: response.name,
                    })
                }).then(res => res.json())
                  .then(data => {
                  console.log(data);
                      if (data.success) {
                          alert('결제가 성공적으로 완료되었습니다.');
                      } else {
                          alert('결제 정보 저장에 실패했습니다.');
                      }
                  }).catch(error => {
                      alert('서버와의 통신 중 오류가 발생했습니다.');
                  });
            } else {
                alert(`결제에 실패하였습니다. 오류 메시지: ${response.error_msg}`);
            }
        });
    }

    // 구매하기 버튼 클릭 시 결제 요청 실행
    document.querySelector('.btn-purchase').addEventListener('click', requestPayment);
</script>


</body>

</html>