<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{layouts/config :: config}"/>
<body>
<th:block th:replace="~{layouts/header :: header}"/>
<link th:href="@{/css/info.css}" rel="stylesheet"/>

<main role="main">

    <div class="container join-info ">
        <ul class="join-info__list ">
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">이름</span>
                <span class="join-info__text fw-bold" th:text="${member.getMemberName()}"></span>
            </li>
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">가입일자</span>
                <span class="join-info__text fw-bold" th:text="${#dates.format(member.getRegDate(), 'yyyy.MM.dd')}"></span>
            </li>

            <li class="join-info__item">
                <span class=" join-info__tit fw-bold">회원 번호</span>
                <span class="join-info__text fw-bold" th:text="${member.getMemberNo()}"></span>
            </li>
        </ul>
        <hr>
        <ul class="join-info__list ">
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">생년월일</span>
                <span class="join-info__text fw-bold" th:text="${#dates.format(member.getBirth(), 'yyyy.MM.dd')}"></span>
            </li>
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">email</span>
                <span th:if="${#strings.isEmpty(member.getEmail())}" class="join-info__text fw-bold"
                      th:text="'이메일을 등록해주세요.'"></span>
                <span th:if="${!#strings.isEmpty(member.getEmail())}" class="join-info__text fw-bold"
                      th:text="${member.getEmail()}"></span>
            </li>

            <li class="join-info__item">
                <span class=" join-info__tit fw-bold">회원 등급</span>
                <span th:if="${member.getRole().equals('ROLE_ADMIN')}" class="join-info__text fw-bold" th:text="'관리자'"></span>
                <span th:if="${member.getRole().equals('ROLE_USER') && member.getStopMember() == 0}" class="join-info__text fw-bold" th:text="'일반 회원'"></span>
                <span th:if="${member.getStopMember() == 1}" class="join-info__text fw-bold" th:text="'휴면 회원'"></span>

            </li>

        </ul>
        <hr/>
        <div class="join-info__etc">
            <button class="btn btn-info" onclick="window.location.href='/member/update'">
                <span>정보 수정</span>
            </button>
            <button  class="btn btn-info dltBtn">
                <span>회원 탈퇴</span>
            </button>
            <button class="btn btn-info" onclick="window.location.href='/member/purchasedProduct'">
                <span>구매 내역</span>
            </button>
        </div>
    </div>

</main>
<script>
    document.querySelector('.dltBtn').addEventListener('click', function(event) {
       const userConfirmation = prompt("회원 탈퇴를 진행하려면 '탈퇴'라고 입력해주세요.");

       if (userConfirmation === '탈퇴') {
           alert('회원 탈퇴가 진행됩니다.');

           // 동적으로 폼을 생성하여 POST 요청을 전송
           const form = document.createElement('form');
           form.method = 'POST';
           form.action = '/member/delete'; // 실제 탈퇴 요청을 처리하는 URL

           // CSRF 토큰이 필요할 경우
<!--           const csrfToken = document.querySelector('meta[name="_csrf"]').content; // 메타 태그에서 CSRF 토큰 가져오기-->
<!--           const csrfInput = document.createElement('input');-->
<!--           csrfInput.type = 'hidden';-->
<!--           csrfInput.name = '_csrf';-->
<!--           csrfInput.value = csrfToken;-->
<!--           form.appendChild(csrfInput);-->

           document.body.appendChild(form);
           form.submit();
           alert('회원 탈퇴가 완료되었습니다');

       } else {
           alert('회원 탈퇴가 취소되었습니다.');
       }
   });

</script>
</body>
</html>