<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="layouts/config ::config"/>
<body>
<th:block th:replace="layouts/header::header"/>
<link th:href="@{/css/info.css}" rel="stylesheet"/>

<main role="main">

    <div class="container join-info ">
        <ul class="join-info__list ">
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">이름</span>
                <span class="join-info__text fw-bold" th:text="${member.getMemberName()}"></span>
            </li>
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">가입일자</span>
                <span class="join-info__text fw-bold" th:text="${#dates.format(member.getRegDate(), 'yyyy.MM.dd')}"></span>
            </li>

            <li class="join-info__item">
                <span class=" join-info__tit fw-bold">회원 번호</span>
                <span class="join-info__text fw-bold" th:text="${member.getMemberNo()}"></span>
            </li>
        </ul>
        <hr>
        <ul class="join-info__list ">
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">생년월일</span>
                <span class="join-info__text fw-bold" th:text="${#dates.format(member.getBirth(), 'yyyy.MM.dd')}"></span>
            </li>
            <li class="join-info__item">
                <span class="join-info__tit fw-bold">email</span>
                <span th:if="${#strings.isEmpty(member.getEmail())}" class="join-info__text fw-bold"
                      th:text="'이메일을 등록해주세요.'"></span>
                <span th:if="${!#strings.isEmpty(member.getEmail())}" class="join-info__text fw-bold"
                      th:text="'이메일을 등록해주세요.'"></span>
            </li>

            <li class="join-info__item">
                <span class=" join-info__tit fw-bold">회원 등급</span>
                <span th:if="${member.getRole() == 'ROLE_ADMIN'}" class="join-info__text fw-bold" th:text="관리자"></span>
                <span th:if="${member.getRole() == 'ROLE_USER'}" class="join-info__text fw-bold" th:text="일반 회원"></span>
            </li>
        </ul>
        <hr/>
        <div class="join-info__etc">
            <button class="btn btn-info">
                <span>정보 수정</span>
            </button>
            <button class="btn btn-info">
                <span>회원 정보 삭제</span>
            </button>
        </div>
    </div>

</main>

</body>
</html>